<table mat-table [dataSource]="apps()" matSort (matSortChange)="onSortChange($event)" matSortActive="hostName" matSortDirection="asc">

    <!-- HostName Column -->
    <ng-container matColumnDef="hostName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Host Name</th>
        <td mat-cell *matCellDef="let app">{{app.hostName}}</td>
    </ng-container>

    <!-- AppName Column -->
    <ng-container matColumnDef="appName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>App Name</th>
        <td mat-cell *matCellDef="let app">
            <app-status-indicator [status]="app.latestStatus?.status">
                <span slot="suffix">{{ app.appName }}</span>
            </app-status-indicator>
        </td>
    </ng-container>

    <!-- Version Column -->
    <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Version</th>
        <td mat-cell *matCellDef="let app">
            @if (app.version) {
                <prefix-pictogram [icon]="'tag'" [iconColor]="app.version | hashColor" [label]="app.version"/>
            }
        </td>
    </ng-container>

    <!-- Port Column -->
    <ng-container matColumnDef="port">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Port</th>
        <td mat-cell *matCellDef="let app">{{app.port}}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
        <td mat-cell *matCellDef="let app">{{app.type}}</td>
    </ng-container>

    <!-- CronStartTime Column -->
    <ng-container matColumnDef="cronStartTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cron Start Time</th>
        <td mat-cell *matCellDef="let app">{{app.cronStartTime | cronDescription}}</td>
    </ng-container>

    <!-- CronStopTime Column -->
    <ng-container matColumnDef="cronStopTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cron Stop Time</th>
        <td mat-cell *matCellDef="let app">{{app.cronStopTime | cronDescription}}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let app">{{app.latestStatus?.status}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="appColumns(); sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: appColumns();" (click)="onAppClicked(row)"></tr>
</table>
