<table mat-table [dataSource]="dataSource()" matSort (matSortChange)="onSortChange($event)" matSortActive="hostName" matSortDirection="asc">

    <!-- HostName Column -->
    <ng-container matColumnDef="hostName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Host Name</th>
        <th mat-header-cell *matCellDef="let element" [attr.rowspan]="element.isFirstApp ? element.hostRowSpan : null"
            [style.display]="element.isFirstApp ? 'table-cell' : 'none'" class="host-cell"
            (click)="onHostClicked(element, $event)">
            {{element.app.hostName}}
        </th>
    </ng-container>

    <!-- AppName Column -->
    <ng-container matColumnDef="appName">
        <th mat-header-cell *matHeaderCellDef>App Name</th>
        <td mat-cell *matCellDef="let element">
            <app-status-indicator [status]="element.app.latestStatus?.status">
                <span slot="suffix">{{ element.app.appName }}</span>
            </app-status-indicator>
        </td>
    </ng-container>

    <!-- Version Column -->
    <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef>Version</th>
        <td mat-cell *matCellDef="let element">
            @if (element.app.version) {
                <prefix-pictogram [icon]="'tag'" [iconColor]="element.app.version | hashColor" [label]="element.app.version"/>
            }
        </td>
    </ng-container>

    <!-- Port Column -->
    <ng-container matColumnDef="port">
        <th mat-header-cell *matHeaderCellDef>Port</th>
        <td mat-cell *matCellDef="let element">{{element.app.port}}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">{{element.app.type}}</td>
    </ng-container>

    <!-- CronStartTime Column -->
    <ng-container matColumnDef="cronStartTime">
        <th mat-header-cell *matHeaderCellDef>Cron Start Time</th>
        <td mat-cell *matCellDef="let element">{{element.app.cronStartTime | cronDescription}}</td>
    </ng-container>

    <!-- CronStopTime Column -->
    <ng-container matColumnDef="cronStopTime">
        <th mat-header-cell *matHeaderCellDef>Cron Stop Time</th>
        <td mat-cell *matCellDef="let element">{{element.app.cronStopTime | cronDescription}}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{element.app.latestStatus?.status}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="appColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: appColumns;" [class.wt-blink]="highlightedItemId() === row.app.id" [class.wt-strike-through]="deletedItemId() === row.app.id" (click)="onAppClicked(row)"></tr>
</table>