<table mat-table [dataSource]="connections()" matSort (matSortChange)="onSortChange($event)" matSortActive="clientGaia" matSortDirection="asc">

    <!-- ClientGaia Column -->
    <ng-container matColumnDef="clientGaia">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Gaia</th>
        <td mat-cell *matCellDef="let connection">{{connection.clientGaia}}</td>
    </ng-container>

    <!-- AppId Column -->
    <ng-container matColumnDef="appId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Application Id</th>
        <td mat-cell *matCellDef="let connection">{{connection.appId}}</td>
    </ng-container>

    <!-- ApiVersion Column -->
    <ng-container matColumnDef="apiVersion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ApiVersion</th>
        <td mat-cell *matCellDef="let connection">
            @if (connection.apiVersion) {
                <prefix-pictogram [icon]="'tag'" [iconColor]="connection.apiVersion | hashColor" [label]="connection.apiVersion"/>
            }
        </td>
    </ng-container>

    <!-- Machine Column -->
    <ng-container matColumnDef="machine">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Machine</th>
        <td mat-cell *matCellDef="let connection">{{connection.machine}}</td>
    </ng-container>

    <!-- ProcessId Column -->
    <ng-container matColumnDef="processId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Process Id</th>
        <td mat-cell *matCellDef="let connection">{{connection.processId}}</td>
    </ng-container>

    <!-- EstablishedAt Column -->
    <ng-container matColumnDef="establishedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Established At</th>
        <td mat-cell *matCellDef="let connection">{{connection.establishedAt | date:'short'}}</td>
    </ng-container>

    <!-- TerminatedAt Column -->
    <ng-container matColumnDef="terminatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Terminated At</th>
        <td mat-cell *matCellDef="let connection">{{connection.terminatedAt | date:'short'}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="connectionColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: connectionColumns;" [class.wt-blink]="highlightedItemId() === row.id" [class.wt-strike-through]="deletedItemId() === row.id"></tr>
</table>
