<table mat-table [dataSource]="connections()">

    <!-- ClientGaia Column -->
    <ng-container matColumnDef="clientGaia">
        <th mat-header-cell *matHeaderCellDef>Client Gaia</th>
        <td mat-cell *matCellDef="let connection">{{connection.clientGaia}}</td>
    </ng-container>

    <!-- AppId Column -->
    <ng-container matColumnDef="appId">
        <th mat-header-cell *matHeaderCellDef>Application Id</th>
        <td mat-cell *matCellDef="let connection">{{connection.appId}}</td>
    </ng-container>

    <!-- ApiVersion Column -->
    <ng-container matColumnDef="apiVersion">
        <th mat-header-cell *matHeaderCellDef>ApiVersion</th>
        <td mat-cell *matCellDef="let connection">
            @if (connection.apiVersion) {
                <prefix-pictogram [icon]="'tag'" [iconColor]="connection.apiVersion | hashColor" [label]="connection.apiVersion"/>
            }
        </td>
    </ng-container>

    <!-- Machine Column -->
    <ng-container matColumnDef="machine">
        <th mat-header-cell *matHeaderCellDef>Machine</th>
        <td mat-cell *matCellDef="let connection">{{connection.machine}}</td>
    </ng-container>

    <!-- ProcessId Column -->
    <ng-container matColumnDef="processId">
        <th mat-header-cell *matHeaderCellDef>Process Id</th>
        <td mat-cell *matCellDef="let connection">{{connection.processId}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="connectionColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: connectionColumns;"></tr>
</table>
