<mat-toolbar color="primary">
    @if (sidenavService.isHandset()) {
    <button type="button" aria-label="Toggle sidenav" matIconButton (click)="toggleSidenav()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    }

    <div [style.display]="'flex'" [style.align-items]="'center'" [style.gap]="'1rem'" [style.flex]="'1'">
        <span>WatchTower.WebApp</span>
        <breadcrumb />
    </div>

    <span [style.flex]="'1 1 auto'"></span>

    <span class="toolbar-spacer"></span>
    <mat-form-field>
        <mat-label>Search term</mat-label>
        <input matInput type="search">
        <button matSuffix matIconButton aria-label="Search">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
</mat-toolbar>
