<mat-toolbar color="primary">
    @if (sidenavService.isHandset()) {
    <button type="button" aria-label="Toggle sidenav" matIconButton (click)="toggleSidenav()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    }

    <p>WatchTower.WebApp {{ environmentSuffix }}</p>
    <breadcrumb />

    <span class="toolbar-spacer"></span>

    @if (searchConfig().showSearch) {
    <form class="toolbar-search" (ngSubmit)="onSearch()">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input [(ngModel)]="searchConfig().searchTerm" name="searchTerm" matInput type="search">
            <button matSuffix matIconButton aria-label="Search" type="submit">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </form>
    }

</mat-toolbar>