<mat-card class="app-card" appearance="outlined"  matRipple>
  <mat-card-header>
    <mat-card-title>{{ app().hostName }}</mat-card-title>
    <mat-card-subtitle>{{ app().type }} • v{{ app().version }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-icon matListItemIcon>apps</mat-icon>
        <div matListItemTitle>{{ app().appName }}</div>
        <div matListItemLine>{{ app().port }}</div>
      </mat-list-item>

      <mat-list-item>
        <div matListItemLine>
          <mat-icon>play_arrow</mat-icon> {{ app().cronStartTime }}
        </div>
        <div matListItemLine>
          <mat-icon>stop</mat-icon> {{ app().cronStopTime }}
        </div>
      </mat-list-item>

      <!-- @if (app().latestStatus) {
        <mat-list-item>
          <mat-icon matListItemIcon color="accent">favorite</mat-icon>
          <div matListItemTitle>Latest Status</div>
          <div matListItemLine>{{ app().latestStatus!.recordedAt | date:'medium' }}</div>
        </mat-list-item>
      } -->
    </mat-list>
  </mat-card-content>

  <mat-card-actions align="end">
    <button matButton (click)="onCopyToClipboard($event)">Copy</button>
    <button matButton (click)="onShare($event)">Share</button>
  </mat-card-actions>
</mat-card>
