main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 97vh;
    gap: 1rem;
}

img {
    max-width: 100%;
    max-height: 50vh;
    object-fit: contain;
}