<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="mdc-list-item--activated">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <p matListItemTitle>Dashboard</p>
      </a>
      <a mat-list-item routerLink="/hosts" [queryParams]="hostQueryParams" routerLinkActive="mdc-list-item--activated">
        <mat-icon matListItemIcon>domain</mat-icon>
        <p matListItemTitle>Hosts</p>
      </a>
      <a mat-list-item routerLink="/apps" [queryParams]="appQueryParams"
        routerLinkActive="mdc-list-item--activated">
        <mat-icon matListItemIcon>dns</mat-icon>
        <p matListItemTitle>Apps</p>
      </a>
      <a mat-list-item routerLink="/app-statuses" routerLinkActive="mdc-list-item--activated">
        <mat-icon matListItemIcon>monitor_heart</mat-icon>
        <p matListItemTitle>App Status</p>
      </a>
      <a mat-list-item routerLink="/clients" routerLinkActive="mdc-list-item--activated">
        <mat-icon matListItemIcon>computer</mat-icon>
        <p matListItemTitle>Clients</p>
      </a>
      <a mat-list-item routerLink="/connections" routerLinkActive="mdc-list-item--activated">
        <mat-icon matListItemIcon>link</mat-icon>
        <p matListItemTitle>Connections</p>
      </a>
      <a mat-list-item routerLink="/alerts" routerLinkActive="mdc-list-item--activated">
        <mat-icon matListItemIcon>warning</mat-icon>
        <p matListItemTitle>Alerts</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- page content -->
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
